DATABASE_URL=postgresql+asyncpg://postgres:password@localhost:5432/wordle_season
YIELDPLAY_BASE_URL=http://host.docker.internal:8088
YIELDPLAY_API_PREFIX=/api/v1
PARTICIPATION_FEE_RATIO=0.02

# YieldPlay Game ID (bytes32) — tạo 1 lần qua POST /games
YIELDPLAY_GAME_ID=0x9fe19d75e4278e83e0dd7d72e112d19277da1f7bedb753a15f2ae2c6536435b5

